{% extends 'base.html' %}  
<!-- {% import "bootstrap/wtf.html" as wtf %}  -->

{% block content %}

{{x}} 
    <!-- Listing --> 
    <div class="row">
        <div class="card" style="width: 50rem;">
          <img src="https://i.pcmag.com/imagery/reviews/03xdTO0Ka4H4KvEgtSPg4c2-12.1569479325.fit_lpad.size_625x365.jpg" class="card-img-center" alt="...">
          </div>
          
          <div class="card-body">
              <h5 class="card-title">Samsung Galaxy Note20 Ultra 5G 256GB Bronze</h5>
              <p class="card-text">Current bid: <br><i>$1201</i></p>
              <p class="card-text">Your Bid: <br><i>No bid yet</i></p>
              <p class="card-text">Date ending:<br><i>15/09/2020 13:01</i></p>
              <br>
      
              <p class="card-text"><b>Place Bid</b></p>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
                
                 <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BidModal">
                Submit bid
              </button> 
              
    <!-- Modal -->
    <div class="modal fade" id="BidModal" tabindex="-1" aria-labelledby="BidModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="BidModalLabel">Bid placed</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Your bid has been placed
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
            </div>
        </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#WatchlistModal">
    Add to Watchlist
    </button>
  
    <!-- Modal -->
    <div class="modal fade" id="WatchlistModal" tabindex="-1" aria-labelledby="WatchlistModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="WatchlistModalLabel">Added to Watchlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            This item has been added to your Watchlist.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
            </div>
        </div>
        </div>
    </div>
    
    
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            The Samsung Galaxy Note20 Ultra allows you to connect to the 5G network, ensuring fast speeds when you're viewing media, doing work, playing games, taking photos, and more. The intelligent S Pen allows you to translate handwriting into text, do scribbles and sketches, edit documents, and more, making it great for taking notes during class or maintaining the meeting minutes in the office. It has a triple rear camera for stunning photos and pro-grade videography, thanks to its 108 MP main lens and 8K video capabilities.
        </div>
        </div>
   
 
    <hr>  

{% endblock %}  