{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Listing {{ auction.name }}{% endblock %}
{% block content %}

{{x}}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<!-- check if there are any messages -->
<div class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            {% for category, message in messages %}
            <!--loop through the messages-->
            <div class="alert alert-{{ category }}">{{ message }}</div>
            <!--display as alert-->
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endwith %}

<!-- Listing -->
<div class="row">
    <div class="card" style="width: 50rem;">
        <img src={{ auction.image }} class="card-img-center" alt="..." style="max-width: 450px;">
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ auction.model }} {{ auction.name }}</h5>
        <p class="card-text">Listing created by: {{ auction.user.name }}</p>

        {% if auction.bids|length == 0 %} <!--If no bids exist, the following line is implemented-->
        <p class="card-text">Starting price: <br> ${{ auction.starting_bid }}</p>
        {% endif %}

    {% if auction.auction_status == None %} <!--If the auction is open, the latest bid will be displayed as the current bid-->
        {% for bid in auction.bids[-1:] %}  <!--Looks for the latest bid information and imports it-->
        <p class="card-text">Current bid: <br> ${{ bid.text }} by {{ bid.user.name }}</p>
        {% endfor %}
    {% else %} <!--If the auction is closed, the latest bid will be displayed as the winning bid-->
        {% for bid in auction.bids[-1:] %}  <!--Looks for the latest bid information and imports it-->
        <p class="card-text">Winning bid: <br> ${{ bid.text }} by {{ bid.user.name }}</p>
        {% endfor %}
    {% endif %}

        <p class="card-text">Number of bids: {{auction.bids|length}}</p>

        {% if auction.auction_status == None %}
        <p class="card-text">Auction status: Open</p>
        {% else %}
        <p class="card-text">Auction status: Closed</p> 
        {% endif %}
        <!--Yet another IF statement to check whether the auction is opened or closed-->

        <!-- Button trigger modal -->
        {% if current_user == auction.user %} <!--Only the user who created the listing can view all bids -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ViewModal">
            View all bids
        </button>

             <!-- Modal -->
             <div class="modal fade" id="ViewModal" tabindex="-1" aria-labelledby="BidModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="BidModalLabel">View Bids</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        {% if auction.bids|length == 0 %}
                            <h6>No bids yet!</h6>
                        {% else %}
                            {% for bid in auction.bids %}
                            <h6>${{ bid.text }} by {{ bid.user.name }}</h6>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}   

        {% if current_user != auction.user and auction.auction_status == None %} <!--Only the users who did not create the listing can bid, and if the auction is closed noone can bid -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BidModal">
            Place a Bid
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="BidModal" tabindex="-1" aria-labelledby="BidModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="BidModalLabel">Place a Bid</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if auction.bids|length == 0 %}
                        <h6>Starting price: ${{ auction.starting_bid }}</h6>
                        {% endif %}
                        
                        {% for bid in auction.bids[-1:] %}
                        <h6>Current bid: ${{ bid.text }} by {{ bid.user.name }}</h6>
                        {% endfor %}
                        {{ wtf.quick_form(form, "/auctions/{0}/bid".format(auction.id)) }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if current_user == auction.user and auction.auction_status == None %}<!--Only the user who created the listing can close it, and  you can't close an auction that's already closed-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CloseModal">
            Close Auction
        </button>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="CloseModal" tabindex="-1" aria-labelledby="CloseModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="WatchlistModalLabel">Close Auction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to close this auction?
                        {{ wtf.quick_form(form2, "/auctions/{0}/close".format(auction.id)) }}
                    </div>
                </div>
            </div>
        </div>

        {% if current_user != auction.user and auction.auction_status == None %} <!-- Only the users who did not create the listing can add to watchlist, and you can't add a closed auction to a watchlist-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#WatchlistModal">
            Add to Watchlist
        </button>

        <!-- Modal -->
        <div class="modal fade" id="WatchlistModal" tabindex="-1" aria-labelledby="WatchlistModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="WatchlistModalLabel">Add to Watchlist</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to add this listing to your watchlist?
                        {{ wtf.quick_form(form3, "/auctions/{0}/add".format(auction.id)) }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-body">
        {{ auction.description }}
    </div>
</div>


<hr>

{% endblock %}