<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>PhoneBid</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="home.html">PhoneBid</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Sell<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Watchlist.html">Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Profile</a>
          </li>      
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div>
      <br>
    </div>

    <!-- Featured Section -->
    <div class="ml-3"><h2 style="width: 18rem;">List an Item</h2></div>
    <h1 class="center">
       <!--header name-->
    </h1>
    <article>
      <div class="container"> <!--container-->
        <div class="row"> <!--row-->
          <div class="col-12"> <!--column-->
            <div class="d-flex flex-column">
              <div class="solid"> <!--solid border-->
                <!--Item details-->
                <ul>
                  <label for="Title:">Title</label><br> <!--label-->
                  <input type="text" id="Title" name="Title" size="50%"><br> <!--input field for item details-->
                </ul>
                <ul>
                  <label for="Brand:">Brand</label><br> <!--label-->
                  <input type="text" id="Brand" name="Brand" size="50"><br> <!--input field for item details-->
                </ul>
                <ul>
                  <label for="Type:">Type</label><br> <!--label-->
                  <input type="text" id="Type" name="Type" size="50"><br> <!--input field for item details-->
                </ul>
                <ul>
                  <label for="Condition:">Condition</label><br> <!--label-->
                  <input type="text" id="Condition" name="Condition" size="50"><br> <!--input field for item details-->
                </ul>
                <ul>
                  <label for="Description:">Description</label><br> <!--label-->
                  <input type="text" id="Description" name="Description" size="50"><br> <!--input field for item details-->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <br>
      </div>

        <div class="row">  <!--row-->
          <div class="col-2">  <!--column-->
          </div>
          <div class="col-3">  <!--column-->
            <button type="button" class="btn btn-info btn-lg btn-block">Add Image from Computer</button> <!--add image button (aqua)-->
          </div>
        
          
          <div class="col-3">  <!--column-->
              <button type="button" class="btn btn-warning btn-lg btn-block">Add Image from Drive</button>
          </div>
        </div>
      </div>

      <div>
        <br>
      </div>
      <!--Pricing and time-->
      <div class="container"> <!--container-->
        <div class="row"> <!--row-->
          <div class="col-12">  <!--column-->
            <div class="d-flex flex-column"> <!--Flexed object-->
              <div class="solid"> <!--solid border-->
                <label for="Starting bid:">Starting price</label><br> <!--label-->
                <input type="text" id="Starting" name="Starting" size="50%"><br> <!--input field for item details-->
              </div>
            </div>
          </div>
        </div>

        <div class="row"> <!--row-->
          <div class="col-12"> <!--column-->
            <div class="d-flex flex-column">  <!--Flexed object-->
              <div class="solid"> <!--solid border-->
                <label for="Length (time):">Length</label><br> <!--label-->
                <input type="text" id="Length" name="Length" size="50%"><br> <!--input field for item details-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <br>
      </div>
      <div class="container"> <!--container-->
        <div class="row"> <!--row-->
          <p>
            Payment <!--payment title-->
          </p>
          <div>
            <br>
          </div>
        <!--Select buttons-->
        <div class="row"> <!--row-->
          <div class="col"> <!--column-->
            <ul>
              <button type="button" class="btn btn-secondary">Paypal</button> <!--Select button-->
            </ul>          
          </div>
          <div class="col"> <!--column-->
            <ul>
              <button type="button" class="btn btn-secondary">MasterCard</button> <!--Select button-->
            </ul>          
          </div>
          <div class="col"> <!--column-->
            <ul>
              <button type="button" class="btn btn-secondary">Visa</button> <!--Select button-->
            </ul>          
          </div>
          <div class="col"> <!--column-->
            <ul>
              <button type="button" class="btn btn-secondary">AE</button> <!--Select button-->
            </ul>
          </div>
        </div>
        <div>
          <br>
        </div>
        <!--List button-->
        <div class="row"> <!--row-->
          <div class="col-12"> <!--column-->
            <div class="center"> <!--center class-->
              <ul>
                <button type="button" class="btn btn-primary btn-lg btn-block">List item</button> <!--list button is a large block button-->
              </ul>          
            </div>
          </div>

      </div>
    </article>


  </body>
</html>