
{% extends 'base.html' %}

{% block title %}Phone Bid{% endblock %}

{% block content %}




<div class="header">
  <h1 style="color:black;text-align:center;">Featured Items</h1>
</div>

<div class="container">
  {% if auctions %}
  <!-- Flask Batching -->
  <div class="card-deck mb-3">
    <div class="row">
      {% for auction in auctions %}
      <div class="card bg-info text-white">
        <img class="card-img-top" src="{{auction.image}}" alt="{{auction.name}}" style="max-width: 190px">
        <div class="card-body">
          <h5 class="card-title">{{auction.model}} {{auction.name}}</h5>

          {% if auction.bids|length == 0 %}
          <p class="card-text">Starting price: ${{ auction.starting_bid }}</p>
          {% elif auction.bids|length != 0 and auction.auction_status == None %}
          <p class="card-text">Current Bid: ${{auction.bids|last}}</p>
          {% elif auction.bids|length != 0 and auction.auction_status != None %}
          <p class="card-text">Winning Bid: ${{auction.bids|last}}</p>
          {% endif %}
          <!--IF statements to test if there are any entries in the bids table - if there aren't the starting bid is used, and if there are the latest bid is used-->
          <!--If the auction is closed, it will pass the latest bid as the winning bid-->

          {% if auction.auction_status == None %}
          <p class="card-text">Auction status: Open</p>
          {% else %}
          <p class="card-text">Auction status: Closed</p>
          {% endif %}
          <!--Sees whether the auction is open or not-->

          <a href="{{url_for('auction.listing', id=auction.id)}}" class="btn btn-primary mb-2">View Details</a>

          {% if auction.bids|length == 1 %}
          <p class="card-text"><small class="text-light">{{auction.bids|length}} Bid</small></p>
          {% elif auction.bids|length > 1 %}
          <p class="card-text"><small class="text-light">{{auction.bids|length}} Bids</small></p>
          {% elif auction.bids|length == 0 %}
          <p class="card-text"><small class="text-light">0 Bids</small></p>
          {% endif %}
          <!--Bunch of IF statements to show the plural of the word "bid" or lack thereof, and a flat 0-->

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
    {% endif %}
</div>
  {% endblock %}
