{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="page-header">
                    <h1 style="color:black">{{heading}}</h4>
                </div>

                <div class="col-md-6 ml-5">
                    {{wtf.quick_form(form)}}
                </div>

                <!-- When you have login form, then do show the user a link to register -->
                {% if heading|lower =='login' %}
                <div class="col-md-4 mb-5 ml-5">
                    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
