{% extends 'base.html' %}

    {% block content %}
  <style>
  /*card styling*/
  .card {
      box-shadow: 4px 4px 20px black; /* shadow */
      padding-right: 10%;
      padding-left: 10%;
      padding-bottom:10%;
      margin-left: 35%;
      margin-bottom: 10%;
    }
  .card-text {
    padding-bottom: 5%; /* padding */
    padding-left:5%;
    padding-right:5%;
  }
  img {
        padding-top:5%;
        padding-bottom:5%;
        width: 100%;
  }
  </style>
    
       <!-- Watchlist Section -->
    <div class="ml-3"><h2 style="width: 18rem;">Watchlist</h2></div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <br>
            <img src="..\static\note20ultragold.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy Note20 Ultra 5G 256GB Bronze</h5>
              <p class="card-text">Current bid: <br><i>$1201</i></p>
              <p class="card-text">Your Bid: <br><i>No bid yet</i></p>
              <p class="card-text">Date added: <br><i>12/09/2020</i></p>
              <p class="card-text">Date ending:<br><i>15/09/2020 13:01</i></p>
              <a href="#" class="btn btn-primary">Check Phone</a>
            </div>
          </div>
      
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <br>
            <img src="..\static\googlepixel4white.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Google Pixel 4 64GB Clearly White</h5>
              <p class="card-text">Current bid: <br><i>$400</i></p>
              <p class="card-text">Your Bid: <br><i>$400</i></p>
              <p class="card-text">Date added: <br><i>12/09/2020</i></p>
              <p class="card-text">Date ending:<br><i>15/09/2020 13:01</i></p>
              <a href="#" class="btn btn-primary">Check Phone</a>
            </div>
          </div>
      
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <br>
            <img src="..\static\iphonexrblack.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">iPhone XR 64GB <br>Black</h5>
              <p class="card-text">Current bid: <br><i>$600</i></p>
              <p class="card-text">Your Bid: <br><i>$200</i></p>
              <p class="card-text">Date added: <br><i>12/09/2020</i></p>
              <p class="card-text">Date ending:<br><i>15/09/2020 13:01</i></p>
              <a href="#" class="btn btn-primary">Check Phone</a>
            </div>
          </div>
      
        </div>
      </div>
    </div>
{% endblock %}