<!-- This page isn't used, User.html is used instead-->

{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

  <style>
    h1{
      font-family: Arial, Helvetica, sans-serif; /*font style*/
    }
  </style>
  <div class="container"> <!--Bootstrap grid system-->
    <div class="row mt-4"> <!--Bootstrap row placement-->
      <div class="col-md-12"> <!--Bootstrap column placement-->

        <h1>Login</h1>

        {{wtf.quick_form(form)}}
        
      </div>
    </div>
  </div>

{% endblock %}